* {
  box-sizing: border-box;
  color: #333;
}

body {
  background: whitesmoke;
  margin: 1rem;
  padding: 1rem;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

.burger {
  width: 30px;
  height: 30px;
}

.drag {
  margin-right: 15px;
  cursor: move;
}
